<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Felix Archive</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{{ url_for('static',filename='style.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="black">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Felix Archive</a>
    </div>
  </nav>

  <main>
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Search the Felix Archive</h1>
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <form action="/search" method="get">
            <div class="search-field input-field">
              <button class="btn-large black waves-effect waves-light" type="submit">
                <span>Search</span>
              </button>
              <div class="search-text-wrapper">
                <input class="search-text" type="text" name="q">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>


  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Felix 1949-2020</h5>
          <p>Felix, Beit Quad, Prince Consort Road, London, SW7 2BB.
            <br>
            020 7594 8072
            <br>
            felix@uk.ac.imperial
            <span class="grey-text darken-2">
              (swap the domain endianness)
            </span>
          </p>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='materialize.min.js') }}"></script>
  <script src="{{ url_for('static',filename='init.js') }}"></script>

</body>

</html>